$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.content {
  margin-top: 5em;
}

.donate-items {
  text-align: center;
}

.donate-items-content {
  padding: 2em;
}
