$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$red: #ce3d3d;
$pink: #df5e5e;
$orange: #f1ae4c;
$gray: #efefef;

body {
  font-size: 1.7em;
}

.content {
  margin-top: 23em;
  padding: 2em;
  position: absolute;
}

.contributors {
  font-size: 1.5em;
  padding: 2em;
  position: absolute;
}

.donate-container {
  background-color: $orange;
  margin-left: -3em;
  margin-right: -2em;
  position: relative;
  width: inherit;
}

.donate {
  padding: 3em;
  position: relative;
}

.donate-items {
  text-align: center;
}

.donate-items-content {
  padding: 4em;
}

.donation-summary {
  margin-top: 4em;
}

.download-btn {
  font-size: 20px;
  padding: 1em;
}

#floating-panel {
  position: inherit;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  line-height: 30px;
  padding-left: 10px;
}

.hero {
  height: 400px;
  margin-left: -1em;
  margin-right: -5.6em;
  position: absolute;
  width: 100%;
}

#map {
  height: 400px;
  margin: 0 auto;
  width: 600px;
}

.mobile {
  background-color: $gray;
  margin-left: -3em;
  margin-right: -2em;
  padding: 3em;
}

.mobile-img {
  margin: 1.5em;
}
